@model IEnumerable<BigSchool_NHT.Models.Course>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul>
        @foreach (var course in Model)
        {
            <li>
                @course.DateTime - @course.Lecturer.Name
            </li>

        }
    </ul>
</div>
<ul class="course">
        @foreach(var course in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class=" lecturer">
                        @course.Lecturer.Name
                    </span>
                    <span class="category">
                        @course.Category.name
                    </span>
                </div>
            </li>
        }
</ul>